@page "/properties/index"
@* @page "/properties/index/{Uid?}" *@
@* Author: Johan Nelin *@
@using BostadzPortalenClient.Pages.R_EstatePge
@using BostadzPortalenClient.Components.R_Estate
@using BostadzPortalenClient.Services
@using BostadzPortalenClient.Components
@inject IPropertyForSaleService propService
@inject IRealtorService realtorService


<h3>Bostäder till salu - just nu</h3>

<hr class=" divider" />
<div class="row">
    @if (allProperties != null)
    {
        @foreach (var property in allProperties)
        {
            <div class="col-6">
                <RealEstateCardComponent realEstate="property"></RealEstateCardComponent>
            </div>
        }
    }
    else
    {
        <p>Laddar fastigheter...</p>
    }
</div>


@code {
    private IEnumerable<PropertyForSaleOverviewDTO> allProperties { get; set; }
    [Parameter]
    public string? Uid { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(Uid))
        {
            allProperties = await propService.GetMyListingsAsync();
        }
        else
        {
            allProperties = await propService.GetAllPropertiesForSaleDTOAsync();
        }

    }
}
