@page "/realtorobjects/{RealtorId}"
@using BostadzPortalenClient.Components.R_Estate


<div class="background-image"></div>
<div class="background-overlay"></div>

<hr class=" divider" />
<RealtorPropertiesOverview RealtorId="@RealtorId" />

@code {
    [Parameter] public string RealtorId { get; set; }
}
