@page "/properties/index"
@* Author: Johan Nelin *@
@using BostadzPortalenClient.DTO
@using BostadzPortalenClient.Services
@inject ApiService apiService

<h3>Index</h3>
<PropertiesTable propertyList="allProperties"></PropertiesTable>


@code {
    private List<PropertyForSaleOverviewDTO> allProperties { get; set; }

    protected override async Task OnInitializedAsync() 
    {
        allProperties = await apiService.Get<List<PropertyForSaleOverviewDTO>>("PropertyForSale/GetAllPropertyOverviewDTOAsync");
    }
}
