@page "/properties/index"
@* Author: Johan Nelin *@
@using BostadzPortalenClient.Services
@using BostadzPortalenClient.Components
@inject IPropertyForSaleService propService


<h3>Index</h3>

<h3>Table</h3>
<PropertiesTable propertyList="allProperties"></PropertiesTable>

<h3>Cards</h3>
<hr class=" divider" />
<div class="row">
	@foreach (var property in allProperties)
	{
		<RealEstateCardComponent realEstate="property"></RealEstateCardComponent>
	}
</div>



@code {
	private IEnumerable<PropertyForSaleOverviewDTO> allProperties { get; set; }

	protected override async Task OnInitializedAsync()
	{
		allProperties = await propService.GetAllPropertiesForSaleDTOAsync();
	}
}
