@page "/properties/index"
@* Author: Johan Nelin *@
@using BostadzPortalenClient.Services
@inject IPropertyForSaleService propService

<h3>Index</h3>
<PropertiesTable propertyList="allProperties"></PropertiesTable>


@code {
    private IEnumerable<PropertyForSaleOverviewDTO> allProperties { get; set; }

    protected override async Task OnInitializedAsync() 
    {
        allProperties = await propService.GetAllPropertiesForSaleDTOAsync();
    }
}
