@page "/properties/index"
@* Author: Johan Nelin *@
@using BostadzPortalenClient.Services
@inject ApiService apiService

<h3>Index</h3>
<PropertiesTable propertyList="allProperties"></PropertiesTable>


@code {
    private List<PropertyForSaleOverviewDTO> allProperties { get; set; }

    protected override async Task OnInitializedAsync() 
    {
        Console.WriteLine("call");
        var allProperties = await apiService.Get<List<PropertyForSaleOverviewDTO>>("PropertyForSale/GetAllPropertyOverviewDTOAsync");
        Console.WriteLine("response");
    }
}
