@page "/PropertyDetails/{PropertyForSaleId:int}"
@using BostadzPortalenClient.Services
@inject IPropertyForSaleService propService
@inject IApiService apiService
<h3>PropertyDetails</h3>


<EditForm Model="PropertyForSale" OnValidSubmit="HandleEdit">
    <DataAnnotationsValidator />

    <div class="input-group mb-3">
        <label for="address">Address</label>
        <InputText class="form-control" @bind-Value="PropertyForSale.Address" />
    </div>

    <div class="input-group mb-3">
        <label for="typeofproperty">Type of property</label>
        <InputSelect @bind-Value="PropertyForSale.TypeOfProperty" >
            @foreach (var type in Enum.GetValues<TypeOfPropertyEnum>())
            {
                <option value="@type">@type</option>
            }
        </InputSelect>
    </div>

    <div class="input-group mb-3">
        <label for="yearbuilt">Year built</label>
        <InputNumber class="form-control" @bind-Value="PropertyForSale.YearBuilt" />
    </div>

    <div class="input-group mb-3">
        <label for="yearlyoperatingcost">Yearly Operating Cost</label>
        <InputNumber class="form-control" @bind-Value="PropertyForSale.YearlyOperatingCost" />
    </div>

    <div class="input-group">
        <label for="askingprice">Asking Price</label>
        <InputNumber class="form-control" @bind-Value="PropertyForSale.AskingPrice" />
    </div>

    <div class="input-group mb-3">
        <label for="description">Description</label>
        <InputText class="form-control" @bind-Value="PropertyForSale.Description" />
    </div>

    <div class="input-group mb-3">
        <label for="livingarea">Living Area</label>
        <InputNumber class="form-control" @bind-Value="PropertyForSale.LivingArea" />
    </div>

    <div class="input-group mb-3">
        <label for="mothlyfee">Monthly Fee</label>
        <InputNumber class="form-control" @bind-Value="PropertyForSale.MonthlyFee" />
    </div>
    <div class="input-group mb-3">
        <label for="municipality">Municipality</label>
        <InputText class="form-control" @bind-Value="PropertyForSale.Municipality.Name" />
    </div>
    <div class="input-group mb-3">
        <label for="numberofrooms">Number of Rooms</label>
        <InputNumber class="form-control" @bind-Value="PropertyForSale.NumberOfRooms" />
    </div>

    <div class="input-group mb-3">
        <label for="plotarea">Plot area</label>
        <InputNumber class="form-control" @bind-Value="PropertyForSale.PlotArea" />
    </div>

    <button type="submit" class="btn main-btn btn-block mt-3 col-12">Logga in</button>

</EditForm>




@code {
    [Parameter]
    public int PropertyForSaleId { get; set; }

    public PropertyForSale PropertyForSale = new();

    private async Task<PropertyForSale> GetProperty()
    {
        PropertyForSale = await propService.GetPropertyAsync(PropertyForSaleId); 
        return PropertyForSale;
    }

    protected override async Task OnParametersSetAsync()
    {
        await GetProperty();
    }

    private async Task HandleEdit(EditContext editContext)
    {
        await propService.UpdatePropertyAsync(PropertyForSaleId, PropertyForSale);
    }
}


