@page "/realtorobjects/{RealtorId}"
@using BostadzPortalenClient.Components

<h1>Dina objekt</h1>
<hr class=" divider" />
<RealtorPropertiesOverview RealtorId="@RealtorId" />

@code {
    [Parameter] public string RealtorId { get; set; }
}
