@page "/search-results"
@inject ISearchResultService SearchResultService
@using BostadzPortalenClient.Components.Search
@using BostadzPortalenClient.Models
@using BostadzPortalenClient.Components.R_Estate

@* Author: Oscar *@

<div class="background-image"></div>
<div class="background-overlay"></div>

<h2 class="my-4"></h2>
<div class="d-flex justify-content-center align-items-center">
    <div>
        <div class="card w-100">

            <SearchBoxHeader />

            <div class="card-body">
                <RealEstate2 SearchChanged="OnSearchChanged" />

            </div>
        </div>
    </div>
</div>
@if (properties == null)
{
    <p>Laddar resultat...</p>
}
else if (!properties.Any())
{
    <p>Inga bostäder matchar din sökning.</p>
}
else
{
    <Paginator_REstate properties="properties"></Paginator_REstate>
}

@code {
    public List<PropertyForSale> properties;

    protected override async Task OnInitializedAsync()

    {
        await LoadProperties();
    }
    private async Task OnSearchChanged()
    {
        // This method will be triggered when RealEstate calls the EventCallback
        await LoadProperties();
    }

    protected async Task LoadProperties()
    {
        properties = await SearchResultService.GetSearchResults();        
    }


}