@page "/search/home"
@using BostadzPortalenClient.Components.Search
@inject IJSRuntime JS

<div class="background-image"></div>
<div class="background-overlay"></div>

<div class="d-flex justify-content-center align-items-center">
    @* style="height: 100vh; *@
    <div class="col-6">
        <SearchBox />
    </div>
</div>




