@page "/agency/index"
@using BostadzPortalenClient.Components.Agency
@using BlazorBootstrap
@inject IAgencyService agencyService
@inject IMapper mapper
<!--Author: Kevin-->

<div class="background-image"></div>
<div class="background-overlay"></div>

<Card>
<h2 class="mb-5 mt-3 p-3 ms-3">Välj mäklarbyrå som passar just dina behov!</h2>

@if(realEstateInfo == null)
{
    <BlazorBootstrap.Spinner/>
}
else
{
    foreach (var agency in realEstateInfo)
    {
        <AgencyCardComponent agencyDetails="agency"  />
    }
}
</Card>


@code {
    private List<RealEstateAgencyDetailsDTO> realEstateInfo = new();

    protected override async Task OnInitializedAsync()
    {
        var allAgencies = await agencyService.GetAllAgenciesIncludeAllAsync();
        realEstateInfo = allAgencies.Skip(1).ToList() ;
    }
}
