@inject IPropertyForSaleService propService

    @if(PropertiesForSale == null)
    {
        <p>Laddar...</p>
    }
    else
    {
        <Paginator_REstate properties="PropertiesForSale"></Paginator_REstate>
    }
    

@code {
    [Parameter]	public string RealtorId { get; set; }
    public List<PropertyForSaleOverviewDTO> PropertiesForSale { get; set; }

    protected override async Task OnInitializedAsync()
    {
        PropertiesForSale = await propService.GetMyListingsAsync();
    }
}
