@inject IPropertyForSaleService propService

<div class="row">
    @foreach (var property in PropertiesForSale)
    {
        <RealEstateCardComponent realEstate="property"></RealEstateCardComponent>
    }
</div>

@code {
    [Parameter]	public string RealtorId { get; set; }
    public List<PropertyForSaleOverviewDTO> PropertiesForSale { get; set; }

    protected override async Task OnInitializedAsync()
    {
        PropertiesForSale = await propService.GetMyListingsAsync();
    }
}
