@using BostadzPortalenClient.Services
@inject IRealtorService realtorService
<!--Author: Kevin-->

<div id="realtor" class="tab-content">
    <div class="row g-12">
        <label class="form-label">Sök efter namn</label>
        <div class="col-md-6 mt-3">
            <input type="text" class="form-control" placeholder="Förnamn" @bind="firstName" />
        </div>
        <div class="col-md-6 mt-3">
            <input type="text" class="form-control" placeholder="Efternamn" @bind="lastName" />
        </div>
    </div>
    <div class="col-md-12 mt-3">
        <RealEstateAgencyDropdown OnSelectedAgencyChanged="HandleAgencySelection" />
    </div>
    <div class="col-12 d-flex justify-content-center mt-4">
        <button class="btn main-btn w-50" @onclick="Search">Sök</button>
    </div>
</div>

@code {
    private string firstName;
    private string lastName;
    private int? selectedAgencyId;

    //Måste koppla samman denna med urval av realtors i den valda byrån.

    private void HandleAgencySelection(int? agencyId)
    {
        selectedAgencyId = agencyId;
        Console.WriteLine($"Vald byrå: {agencyId}");
    }

    private async Task Search()
    {
        Console.WriteLine($"Sök: {firstName} {lastName} i byrå {selectedAgencyId}");
        await realtorService.FindRealtor(firstName, lastName);
    }
}
