@using BostadzPortalenClient.Services
@using BostadzPortalenClient.Services.AgencyService
@using BostadzPortalenClient.Components.NavMenu
@inject IAgencyService agencyService
<!--Author: Kevin-->

<label class="form-label">Sök efter mäklarbyrå</label>
<select class="form-select" @onchange="OnAgencySelected">
    <option value="">Alla byråer</option>
    @foreach (var agency in realEstateAgencies)
    {
        <option value="@agency.RealEstateAgencyId">@agency.AgencyName</option>
    }
</select>

@code {
    private IEnumerable<RealEstateAgency> realEstateAgencies = new List<RealEstateAgency>();

    [Parameter]
    public EventCallback<int?> OnSelectedAgencyChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadAgencies();
    }

    private async Task LoadAgencies()
    {
        try
        {
            realEstateAgencies = await agencyService.GetAllAgenciesAsync();/* apiService.Get<List<RealEstateAgency>>("RealEstateAgency"); */
            
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Fel vid hämtning av agencies: {ex.Message}");
        }
    }

    private async Task OnAgencySelected(ChangeEventArgs e)
    {
        int? selectedId = string.IsNullOrEmpty(e.Value?.ToString())
            ? (int?)null
            : int.Parse(e.Value.ToString());

        await OnSelectedAgencyChanged.InvokeAsync(selectedId);
    }
}
