@using BostadzPortalenClient.Components.Search
<!--Author: Kevin-->

<div class="card-header d-flex justify-content-start align-items-center">
    <h4 style="margin-top:0.5rem;">Sök bostäder</h4>
</div>

@code {

}
