@using BostadzPortalenClient.Components.Search
<!--Author: Kevin-->

<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs searchbox-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#" data-tab="homes">Sök bostäder</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-tab="agencies">Sök mäklarbyrå</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" data-tab="realtor">Sök mäklare</a>
        </li>
    </ul>
</div>

@code {

}
