
    <div id="agencies" class="tab-content">
        <div class="row g-12">
            <!-- Plats -->
            <div class="col-md-12 mt-3">
                <label class="form-label">Plats</label>
                <input type="text" class="form-control" placeholder="Ange område, t.ex. Stockholm">
            </div>

            <!-- Bostadstyp -->
            <div class="col-md-12 mt-3">
                <label class="form-label">Mäklarbyrå</label>
                <select class="form-select">
                    <option>Alla byråer</option>
                    <!--Här ligger mock-->
                    <option>Länsförsäkringar</option>
                    <option>Bosses Boende</option>
                    <option>Villa Villerkulla Dream Living</option>
                    <option>Agency 4 U</option>
                </select>
            </div>

            <!-- Sök-knapp -->
            <div class="col-12 d-flex justify-content-center mt-4">
                <button class="btn main-btn w-50">Sök</button>
            </div>
        </div>
    </div>


@code {

}

