@using BostadzPortalenClient.Components
@inherits LayoutComponentBase
<!--Author: Kevin-->

<div class="page-wrapper">
    <main class="main" style="overflow-x:visible;">
        
        <AuthorizeView>
            <NotAuthorized>
                <NotAuthNavMeny>
                </NotAuthNavMeny>
            </NotAuthorized>
            <Authorized>
                <AuthorizedNavMeny>
                </AuthorizedNavMeny>
            </Authorized>

        </AuthorizeView>


        <article class="content px-4 mt-5 page-wrapper">
            @Body
        </article>

        
    </main>
    
</div>
<footer>
    <Footer />
</footer>
