@using System.Security.Claims
@using BostadzPortalenClient.Providers
@using Microsoft.AspNetCore.Components.Authorization
@inject ApiAuthenticationStateProvider AuthenticationStateProvider

<!--Author: Kevin-->
@if (authState is null)
{
    <p>Laddar...</p>
}
else if (authState.User.Identity.IsAuthenticated)
{
    <AuthorizedNavMeny/>
}
else
{
    <NotAuthNavMeny/>
}




@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    
    private AuthenticationState? authState;


    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


    protected override async Task OnInitializedAsync()
    {
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
    }



}


<AuthorizeView Roles="Realtor">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="/mylistings">
            Mina objekt
        </NavLink>
    </li>
</AuthorizeView>

