<!--Author: Kevin-->

@inject NavigationManager navManager

@* @using BostadzPortalenClient.Pages
@using Microsoft.AspNetCore.Components.Authorization *@
@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BostadzPortalenClient</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div> *@
@* <CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"> *@

@* <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
                    <nav class="flex-column"> *@

<nav class="navbar navbar-expand-lg fixed-top mb-5" >
    <div class="container-fluid">
        <NavLink class="navbar-brand" href="/"><img src="/favicon bostadzportalen NOBG/web-app-manifest-192x192.png" style="width: 100px; height: 100px;"></NavLink>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-link">
                    <NavLink class="nav-link" aria-current="page" href="/">Sök bostad</NavLink>
                </li>
                <li class="nav-link">
                    <NavLink class="nav-link" aria-current="page" href="/properties/index">Alla bostäder</NavLink>
                </li>
                <li class="nav-link">
                    <NavLink class="nav-link" href="/users/login">Som mäklare</NavLink>
                </li>
                <li class="nav-link">
                    <NavLink class="nav-link" href="news">Nyheter</NavLink>
                </li>
                <li class="nav-link dropdown">
                    <button class="nav-link dropdown-toggle main-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sälja bostad
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" target="_blank" href="https://youtu.be/xvFZjo5PgG0?si=Gn9DnI6v1vq9xCol">Guide till att sälja bostad</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://youtu.be/xvFZjo5PgG0?si=Gn9DnI6v1vq9xCol">Värdera din bostad</a></li>
                        <li><a class="dropdown-item" target="_blank" href=" https: //youtu.be/xvFZjo5PgG0?si =Gn9DnI6v1vq9xCol">Annonsera bostad på Bostadzportalen</a></li>
                    </ul>
                </li>
                <li class="nav-link">

                    <NavLink class="nav-link" href="https://youtu.be/xvFZjo5PgG0?si=Gn9DnI6v1vq9xCol" target="_blank">Om oss</NavLink>

                </li>
            </ul>
            <div class="ms-auto d-flex gap-2">
                <NavLink href="/users/login" class="btn main-btn">Login</NavLink>
                <NavLink href="/users/registerFirstRealtor" class="btn main-btn">Register (Admin)</NavLink>
                <NavLink href="/users/register" class="btn main-btn">Register</NavLink>
            </div>
        </div>
    </div>
</nav>




@*      </nav>
                </div> *@
@*  </AuthorizeRouteView>
        </Found>
    </Router>
</CascadingAuthenticationState> *@



@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

  
}
