@using BostadzPortalenClient.Models

@inject IClient httpClient
@inject IMuniService MuniService
@inject ISearchResultService SearchResultService
@inject NavigationManager navManager

<!--Author: Kevin-->


    <div id="homes" class="tab-content active">
        <div class="row g-12">
          @*   <!-- Plats -->
            <div class="col-md-12 mt-3">
                <label class="form-label">Plats</label>
                <input type="text" class="form-control" placeholder="Ange område, t.ex. Stockholm">
            </div> *@

            <!-- Bostadstyp -->
            <div class="col-md-12 mt-3">
            <label class="form-label">Bostadstyp</label>
            <select class="form-select" @bind="selectedPropertyType">
                    <option>Bostadsrättslägenhet</option>
                    <option>Bostadsrättsradhus</option>
                    <option>Villa</option>
                    <option>Fritidshus</option>
                </select>
            </div>

            <!-- Pris från -->
            <div class="col-md-12 mt-3">
                <label class="form-label">Pris från</label>
            <select class="form-select" @bind="selectedPrice">
                    <option>Ingen min</option>
                    <option>500 000 kr</option>
                    <option>1 000 000 kr</option>
                    <option>2 000 000 kr</option>
                </select>
            </div>

            @* <!-- Min antal rum -->
            <div class="col-md-12 mt-3">
                <label class="form-label">Min antal rum</label>
                <select class="form-select">
                    <option>Inga krav</option>
                    <option>1+</option>
                    <option>2+</option>
                    <option>3+</option>
                    <option>4+</option>
                </select>
            </div> *@

        <!-- Kommun -->
            <div class="col-md-12 mt-3">
                <label class="form-label">Kommun</label>
                <select class="form-select" @bind="selectedMunicipality">
                    <option value="">Alla kommuner</option>
                    @foreach (var municipality in municipalities)
                    {
                        <option value="@municipality">@municipality.Name</option>
                    }
                </select>
            </div>

            <!-- Sök-knapp -->
            <div class="col-12 d-flex justify-content-center mt-4">
            <button class="btn main-btn w-50" @onclick="SearchAsync">Sök</button>
            </div>
        </div>
    </div>



@code {
    private List<Municipality> municipalities = new();
    private string selectedMunicipality;
    private int selectedPrice;
    private string selectedPropertyType;
    private int selectedPropertyTypeInt;

    string message = string.Empty;

    protected override async Task OnInitializedAsync()
    {

        // var response = await MuniService.GetAllMunicipalityToListAsync();
        var response = await MuniService.GetAllMunicipalityToListAsync();


        if (response.Success)
        {
            municipalities = response.Data;

        }
        else
        {
            message = "Failed to load Municipality information.";

        }
    }
    private async Task SearchAsync()
    {
        if (selectedPropertyType is "Bostadsrättslägenhet")
        {
            selectedPropertyTypeInt = 0;
        }
        if (selectedPropertyType is "Bostadsrättsradhus")
        {
            selectedPropertyTypeInt = 1;
        }
        if (selectedPropertyType is "Villa")
        {
            selectedPropertyTypeInt = 2;
        }
        if (selectedPropertyType is "Fritidshus")
        {
            selectedPropertyTypeInt = 3;
        }
        var searchDto = new PropertySearchRequest
            {
                MunicipalityName = selectedMunicipality,
                TypeOfProperty = selectedPropertyTypeInt,
                MinPrice = selectedPrice // You'll need to bind and parse this one too
            };

        var response = await SearchResultService.SearchProperties(searchDto);

        if (response.Success)
        {
            navManager.NavigateTo("/Search-results");


        }
        else
        {
            message = "Failed to load realtor information.";

        }
    }
}


