@using BostadzPortalenClient.Services
@using Newtonsoft.Json
@inject HttpClient client
@inject ApiService apiService
<div id="realtor" class="tab-content">
    <div class="row g-12">


        <!--Sök efter namn-->
        <!--Kanske smart att solla först på vilka som finns i den agencyn man vill leta efter?-->
        <label class="form-label">Sök efter namn</label>
        <div class="col-md-6 mt-3">
            <input type="text" class="form-control" placeholder="Förnamn" />
        </div>
        <div class="col-md-6 mt-3">
            <input type="text" class="form-control" placeholder="Efternamn" />
        </div>
    </div>

    <!--Förslagsvis en lista av alla agencies-->
    <div class="col-md-12 mt-3">
        <label class="form-label">Sök efter mäklarbyrå</label>
        <select class="form-select">
            <option>Alla byråer</option>
            @foreach (var agency in realEstateAgencies)
            {
                <option value="@agency.RealEstateAgencyId">@agency.AgencyName</option>
            }
            <!--Här ligger mock-->
        </select>
    </div>

    <!-- Sök-knapp -->
    <div class="col-12 d-flex justify-content-center mt-4">
        <button class="btn main-btn w-50">Sök</button>
    </div>
</div>


@code {
    private List<RealEstateAgency> realEstateAgencies = new();



    private async Task LoadAgencies()
    {


        try
        {
            // var response = await client.GetAsync("/api/RealEstateAgency");

            // if (response.IsSuccessStatusCode)
            // {
            var agencies = await apiService.Get<List<RealEstateAgency>>("RealEstateAgency");
            // var json = await response.Content.ReadAsStringAsync();
            // var agencies = JsonConvert.DeserializeObject<List<RealEstateAgency>>(json);
            if (agencies != null)
            {
                realEstateAgencies = agencies;
            }

            else
            {
                Console.WriteLine($"Status code:");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Fel vid hämtning av agencies: {ex.Message}");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadAgencies();
    }
}

