@page "/"

<PageTitle>Home</PageTitle>

<div class="d-flex align-items-center">
    <SearchBox />

    <div class="col-6 justify-content-end">
        <a href="/ListAllRealEstates"><img src="/lyxvilla.jpg" class="home-page-img" alt="lyxvilla" /></a>
    </div>
</div>