@page "/"
@using BlazorBootstrap
@using BostadzPortalenClient.Pages.Search
@using BostadzPortalenClient.Components.Search
@inject IPropertyForSaleService propService

<PageTitle>Home</PageTitle>

<div class="d-flex row align-items-center justify-content-between">
    <div class=" col-6">
        <!--d-flex justify-content-center align-items-center-->
        <SearchBox />
    </div>

    <div class="col-6" width="500px">
        <!--d-flex justify-content-center align-items-center -->

        @if (Images == null)
        {
            <p>Laddar bilder...</p>
        }
        else if (Images.Any())
        {
            <Carousel>
                <CarouselItem Active="true">
                    <Image src="@Images.First().ImageUrl.ToString()" />
                </CarouselItem>
                @foreach (var picture in Images.Skip(1))
                {
                    <CarouselItem>
                        <Image src="@picture.ImageUrl" />
                    </CarouselItem>
                }
            </Carousel>
        }
        
    </div>
</div>

<div class="d-flex mt-5">
    <h3 class="text-decoration-underline" style="color:var(--dark-turqouise);">Topplista</h3>
</div>
@* visa topp fem *@
@* <RealEstateCardComponent Amount="4" /> *@

@code {
    private IEnumerable<PropertyForSaleOverviewDTO> allProperties { get; set; }
    private List<PropertyImage>? Images = new();

    protected override async Task OnInitializedAsync()
    {
        allProperties = await propService.GetAllPropertiesForSaleDTOAsync();

        foreach (var estate in allProperties)
        {
            foreach (var image in estate.ImageUrls)
            {
                Images.Add(image);
            }
        }
    }
}